<div class="my-4 text-center">
  <% link = pagy_link_proc(pagy) -%>
  <nav class="flex flex-wrap items-center justify-center p-4" role="navigation">
    <% if pagy.prev %>
      <span><%== link.call(pagy.prev, '&lt;', 'class="rounded-lg bg-gray-200 py-3 px-5 my-4 mr-2" aria-label="previous"') %></span>
    <% else %>
      <span class="rounded-lg bg-gray-200 py-2.5 px-5 my-4 mr-2">&lt;</span>
    <% end %>
    <% pagy.series.each do |item| -%>
      <% if item.is_a?(Integer) %>
        <span class="hidden lg:block"><%== link.call(item, item, 'class="rounded-lg bg-gray-200 py-3 px-5 my-4 mr-2"') %></span>
      <% elsif item.is_a?(String) %>
        <span class="border rounded-lg py-3 px-5 my-4 mr-2"><%= item %></span>
      <% elsif item == :gap %>
        <span class="hidden lg:block my-4 mr-2"><%== pagy_t('pagy.nav.gap') %></span>
      <% end %>
    <% end %>
    <% if pagy.next %>
      <span><%== link.call(pagy.next, '&gt;', 'class="rounded-lg bg-gray-200 py-3 px-5" aria-label="next"') %></span>
    <% else %>
      <span class="rounded-lg bg-gray-200 py-2.5 px-5">'&gt;</span>
    <% end %>
  </nav>
</div>
