<div class="max-w-sm m-auto">
  <h1 class="text-center text-4xl font-semibold pb-10">Minesweeper</h1>

  <%= form_with(model: @board, local: false) do |f| %>
    <div class="flex flex-col pb-2">
    <%= f.label :email %>
    <%= f.text_field :email %>
    </div>

    <div class="flex flex-col pb-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="flex flex-col pb-2">
    <%= f.label :width %>
    <%= f.text_field :width %>
    </div>

    <div class="flex flex-col pb-2">
    <%= f.label :height %>
    <%= f.text_field :height %>
    </div>

    <div class="flex flex-col pb-2">
    <%= f.label :mines %>
    <%= f.text_field :mines %>
    </div>

    <div class="flex flex-col mt-4">
    <%= f.submit "Generate Board", class: 'btn-primary' %>
    </div>
  <% end %>
</div>

<div class="m-auto mt-10">
  <h2 class="m-5 text-xl font-semibold text-center">Most recent boards:</h2>
  <%= render 'boards/partials/boards', boards: @boards if @boards.any? %>
  <h3 class="m-5 text-xl underline text-center"><%= link_to 'View all generated boards', boards_url %></h3>
</div>
